name: Build using Buildozer

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install Buildozer
        run: |
          pip install buildozer cython
          pip install kivy
      
      - name: Build APK
        run: |
          buildozer android debug
